@page
@model goreo.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Your Routes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/IndexRoutes.css"/>

<div class="routes-container container-fluid">
    <div class="row banner">
        <div class="small-logo col-md">
            <img src="~/photos/Group 2.png" class="logo" alt="logo"/>
        </div>
        <div class="site-name col-md">
            Przebyte trasy
        </div>
        <div class="col-md">
            <a asp-page="/Users/Logout" id="logout" class="logout">Wyloguj</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md" id="new-route">
            <a asp-page="/Routes/New">
                <button type="button" class="btn btn-lg btn-block col-md-4 rounded-pill" id="new-route-button">Dodaj trasę</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Routes[0].Name)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var route in Model.Routes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => route.Name)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>