@page
@model goreo.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Your Routes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Register">Create New</a>
</p>