@page
@model goreo.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Your Routes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/IndexRoutes.css"/>

<div class="routes-container">
    <div class="banner">
        <div class="small-logo">
            <img src="~/photos/Group 2.png" class="logo" alt="logo"/>
        </div>
        <div class="site-name">
            Przebyte trasy
        </div>
    </div>
</div>