.routes-container {
    font-family: "Century Gothic", serif;
    height: 100vm;
}

.banner {
    background-color: #347D75;
    height: 4.5rem;
    padding: 0.5rem 0.5rem;
}

.logo {
    height: 3.5rem;
    float: left;
}

.site-name {
    color: #ECCC9E;
    text-align: center;
    font-size: 2rem;
}

.logout {
    color: #ECCC9E;
    float: right;
    font-size: 2rem;
}

#new-route {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#new-route-button {
    background-color: darkorange;
    margin: auto;
}